 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-yellow-color: #ffc465;
    --main-logo-color: #0c141f;
    --start-now-bg: #20242f;
    --location-form-color: #f8f8f8;
    --location-input-placeholder-color: #969da7;
    --scroll-line-color: #707070;
    --play-button-color: #ffaa9d;
    --training-type-name-color: #e4eef5;
    font-size: 16px;


  }

  @font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Bold/Gilroy-Bold.eot'); 
    src: url('./fonts/Gilroy-Bold/Gilroy-Bold.woff2') format('woff2'), 
         url('./fonts/Gilroy-Bold/Gilroy-Bold.woff') format('woff'), 
         url('./fonts/Gilroy-Bold/Gilroy-Bold.ttf')  format('truetype'), 
         url('./fonts/Gilroy-Bold/Gilroy-Bold.svg') format('svg'); 
    font-weight: 700;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.eot');
    src: url('fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.woff2') format('woff2'), 
         url('fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.woff') format('woff'), 
         url('fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.ttf')  format('truetype'), 
         url('fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.svg') format('svg'); 
    font-weight: 800;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Heavy/Gilroy-Heavy.eot'); 
    src: url('./fonts/Gilroy-Heavy/Gilroy-Heavy.woff') format('woff'), 
         url('./fonts/Gilroy-Heavy/Gilroy-Heavy.ttf')  format('truetype'); 
    font-weight: 900;
         
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Light/Gilroy-Light.eot'); 
    src: url('./fonts/Gilroy-Light/Gilroy-Light.woff2') format('woff2'), 
         url('./fonts/Gilroy-Light/Gilroy-Light.woff') format('woff'), 
         url('./fonts/Gilroy-Light/Gilroy-Light.ttf')  format('truetype'), 
         url('./fonts/Gilroy-Light/Gilroy-Light.svg') format('svg'); 
    font-weight: 200;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Medium/Gilroy-Medium.eot'); 
    src: url('./fonts/Gilroy-Medium/Gilroy-Medium.woff2') format('woff2'), 
         url('./fonts/Gilroy-Medium/Gilroy-Medium.woff') format('woff'), 
         url('./fonts/Gilroy-Medium/Gilroy-Medium.ttf')  format('truetype'), 
         url('./fonts/Gilroy-Medium/Gilroy-Medium.svg') format('svg');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Regular/Gilroy-Regular.eot'); 
    src: url('./fonts/Gilroy-Regular/Gilroy-Regular.woff2') format('woff2'),
         url('./fonts/Gilroy-Regular/Gilroy-Regular.woff') format('woff'),
         url('./fonts/Gilroy-Regular/Gilroy-Regular.ttf')  format('truetype'), 
         url('./fonts/Gilroy-Regular/Gilroy-Regular.svg') format('svg'); 
    font-weight: 300;

  }

  @font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-SemiBold/Gilroy-SemiBold.eot');
    src: url('./fonts/Gilroy-SemiBold/Gilroy-SemiBold.woff2') format('woff2'), 
         url('./fonts/Gilroy-SemiBold/Gilroy-SemiBold.woff') format('woff'), 
         url('./fonts/Gilroy-SemiBold/Gilroy-SemiBold.ttf')  format('truetype'), 
         url('./fonts/Gilroy-SemiBold/Gilroy-SemiBold.svg') format('svg'); 
    font-weight: 600;
  }

  html {
    width: 100%;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    
}

body {

  width: 100%;
  max-width: 1700px;
  display: flex;
  flex-direction: column;
  font-family: 'Gilroy', sans-serif;
  
 

}

.section-1 {
    width: 100%;
    height: 100vh;
    background: var(--main-yellow-color);
    position: relative;
    
    overflow: hidden;
} 

header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 55px;
}

.logo-hamburger-menu-wrapper {
  width: 235px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--main-logo-color);

}

.menu-icon {
  font-size: 2rem;
  color: var(--main-logo-color);
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Gilroy', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: var(--main-logo-color);
  margin-left: 40px;
  transition: all 0.1s ease-in-out;
}

.nav-link:hover {
  opacity: 0.8;
}
.start-now-nav-link {
    background: var(--start-now-bg);
    color: var(--main-yellow-color);
    padding: 15px 30px;
}

.main-content-wrapper {
    width: 100%;
    position: relative;
    z-index: 100;
    padding: 0px 10%;
    display: flex;
}

.content-wrapper {
    width: 50%;
    
}

.best-tag {
    text-transform: uppercase;
    font-size: 4rem;
    background: var(--main-yellow-color);
    
}



.line-div {
    width: 116px;
    height: 6px;
    background: var(--start-now-bg);
    transform: translateY(52px);
    
}


.workout-tag {
    font-size: 6rem;
    text-transform: uppercase;
    width: 697px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.05;
    letter-spacing: normal;
    color: white;
    transform: translateX(20%);
    
}

.workout-tag span {
    -webkit-text-stroke: 2px var(--start-now-bg);
    color: transparent;
}

.location-form {
    width: 400px;
    margin-top: 40px;
    background: var(--location-form-color) ;
    display: flex;
    justify-content: space-between;
    
}

.location-icon-wrapper {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.04);
    display: flex;
    
}

.location-icon {
    
    color: var(--start-now-bg);
}
.location-input {
    flex: 1 1 auto;
    margin: 0px 15px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    color: var(--start-now-bg);
    font-family: 'Gilroy', sans-serif;
    background: transparent;
}

.location-input::placeholder {
    font-family: 'Gilroy', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: var(--location-input-placeholder-color);
  }

.location-input:focus {
    border: none;
    outline: none;
    
    
}

.location-button {
    width: 80px;
    height: 40px;
    background: var(--start-now-bg);
    font-family: 'Gilroy', sans-serif;
    color: var(--main-yellow-color);
    text-transform: uppercase;
    outline: none;
    border: none;
    margin: 10px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.location-button:hover {
  opacity: 0.95;
}

.location-note {
    font-size: 0.85rem;
    color: var(--main-logo-color);
    margin-top: 25px;
    opacity: 0.7;
}

.scroll-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  transform: rotate(-90deg) ;
  left: -3%;
  bottom: 120px;
  
}
 

.scroll-line {
  display: inline-block;
   width: 125px;
   height: 2px;
   background: var(--scroll-line-color);
   margin-right: 15px;
}

.scroll-text {
  
  opacity: 0.9;
  font-size: 1.1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: var(--main-logo-color);
}

.dragatron-bg-text {
  width: 1419.5px;
  height: 249px;
  opacity: 0.28;
  -webkit-text-stroke: 2px #ffffff;
  font-family: 'Gilroy', sans-serif;
  font-size: 15rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  color: transparent;
  text-transform: uppercase;
  position: absolute;
  bottom: -50px;
  left: 30%;
  

}
.absolute-parent {
  position: relative;
}
.girl-running {
  width: 100%;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}




.gradient-circle {
   position: relative;
   border-radius: 50%;
   width:90%; 
   padding-top:90%;
   background: white;
   margin-left: 15%;
   background-image: linear-gradient(121deg, #ffab76 22%, #36c1ff 87%);
}

.play-button-wrapper {
  
  display: flex;
  align-items: center;
}

.play-button-shine {
  position: absolute;
  z-index: 200;
  right: 2%;
  top: 12%;
   width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 
  cursor: pointer;
  
}

 .play-button {
  width: 60px;
  height: 60px;
  background: white;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


 .play-button-custom {
  color: var(--play-button-color);
  
} 

.watch-intro {
  
  font-family: 'Gilroy', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  z-index: 200;
  right: -15%;
  top: 16.5%;
}

.section-2 {
  width: 100%;
  
  background: var(--start-now-bg);
  padding: 5% 10%;
  position: relative;
}

.types-of {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: var(--main-yellow-color);
  margin-bottom: 15px;
}

.training-session {
  
  font-family: 'Gilroy', sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.71;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 75px;
}

.focus {
  opacity: 0.05;
  -webkit-text-stroke: 2px #ffffff;
  font-family: 'Gilroy', sans-serif;
  font-size: 12rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  color: transparent;
  position: absolute;
  left: 25%;
  top: 100px;
  text-transform: capitalize;
}

.training-types-wrapper {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;

}

.training-type-background {
  width: 28%;
  height: 90%;
  background: white;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;

}

.training-type-name {
  width: 70px;
  position: absolute;
  top: 7%;
  left: 7%;
  color: var(--main-logo-color);
  text-transform: uppercase;
  font-family: 'Gilroy', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.12;
  letter-spacing: normal;
  
}

.training-type-img {
  width: 100%;
  object-fit: contain;
 
  
  
}

.move-down {
  transform: translateY(125px);
}

.recovery {
  
  opacity: 0.06;
  font-family: 'Gilroy', sans-serif;
  font-size: 7rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.84;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  left: 15%;
  bottom: 20px;
  text-transform: capitalize;
}









@media only screen and (max-width: 1320px) { 
  .best-tag {
    font-size: 3.2rem;
  }

  .workout-tag {
    font-size: 5rem;
    width: 550px;
  }

  
  .line-div {
    width: 85px;
  }

  .watch-intro {
  
    
    font-size: 1rem;
    right: -18%;
    
  }


}

@media only screen and (max-width: 1150px) {  

  .main-content-wrapper {
    
    padding: 0px 5%;
   
}
  .play-button-shine {
    
    right: 0;
    top: 12%;
    
    
  }

  .watch-intro {
  
    
    font-size: 1rem;
    right: -20%;
    top: 17.5%;
    
  }



}

@media only screen and (max-width: 1150px) {  

  .play-button-shine {
    
    right: -2%;
    top: 12%;
    
    
  }

  .watch-intro {
    display: none;
  }
}


@media only screen and (max-width: 980px) {
  .section-1 {
    height: auto;
  }
  nav {
    display: none;
  }

  .logo {
    font-size: 1.5rem;
  }

  .logo-hamburger-menu-wrapper {
    width: 180px;

  }

  .main-content-wrapper {
    
    flex-direction: column-reverse;
    align-items: center;
    
   
}



.content-wrapper {
  width: 80%;
  
  margin-bottom: 40px;
}

.gradient-circle {
  width:100%; 
  padding-top:100%;
  margin-left: 0;
}

.watch-intro {
  display: inline-block;
  right: -12%;
  top: 15.5%;
}

.play-button-shine {
    
  right: 5%;
  top: 12%;
  
  
}


}

@media only screen and (max-width: 750px) {
  .play-button-shine {
    right: 3%;
  }

  .watch-intro {
    
    right: -15%;
    
  }

  .scroll-wrapper {
    
    left: -9%;
    
    
  }
}

@media only screen and (max-width: 630px) { 
  .watch-intro {
    
   display: none;
    
  }

  .play-button-shine {
    right: 0%;
  }

  .best-tag {
    font-size: 2.2rem;
  }

  .workout-tag {
    font-size: 3.8rem;
    width: 480px;
  }

  
  .line-div {
    width: 65px;
  }

 


}


@media only screen and (max-width: 510px) { 
  .best-tag {
    font-size: 1.6rem;
  }

  .workout-tag {
    font-size: 2.8rem;
    width: 350px;
  }

  
  .line-div {
    top: 5%;
    width: 50px;
  } 

  .play-button-shine {
    right: -3%;
  }

  .main-content-wrapper {
    
    padding: 0px 2%;
   
}

  .location-form {
    width: 100%;
   
    
}

.scroll-wrapper {
    
  left: -15%;
  
  
}

}


@media only screen and (max-width: 400px) {  

  .play-button-shine {
    right: -5%;
  }

  .main-content-wrapper {
    
    padding: 0;
   
}

.content-wrapper {
  width: 88%;
  
  margin-bottom: 40px;
}


}
